@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Nunito', sans-serif;
}

:root {
  --body-margin: calc(85px * 2);
}

@media screen and (max-width: 1279px) {
  :root {
    --body-margin: calc(39px * 2);
  }
}

@media screen and (max-width: 767px) {
  :root {
    --body-margin: calc(15px * 2);
  }
}

body {
  @apply bg-white;
}

.main-container {
  width: calc(100% - var(--body-margin));
  @apply max-w-[1280px] my-0 mx-auto;
}

h1, h2, h3, label,
.subtitle, .subtitle2,
.body-text, .body-text2,
.subtitle2-bold{
  @apply text-black;
}

h1 {
  @apply font-bold text-3xl !important;
}

h2 {
  @apply font-semibold text-2xl !important;
}


.subtitle {
  @apply font-semibold text-xl xl:font-bold xl:text-2xl !important;
}

.subtitle2 {
  @apply font-semibold text-sm !important;
}

.subtitle-bold {
  @apply font-semibold text-sm !important;
}

.body-text {
  @apply font-normal text-xl !important;
}

.body-text2 {
  @apply font-normal text-xl !important;
}

.btn-text {
  @apply font-semibold text-sm text-white pr-[8px] md:pr-[12px];
}

input, textarea{
  @apply bg-white rounded-2xl px-5 pl-[54px] py-[13px] border-[1px] outline-none !important;
}

textarea {
  @apply px-5 !important;
}

input:hover, input:focus, textarea:hover, textarea:focus {
  @apply !important;
}

input.error, textarea.error {
  @apply !important;
}

textarea {
  @apply resize-none !important;
}

@screen md {
  h1 {
    @apply text-6xl !important;
  }

  h2 {
    @apply font-bold text-3xl !important;
  }

  /*.subtitle {*/
  /*  @apply font-bold text-2xl !important;*/
  /*}*/

  .subtitle2 {
    @apply font-semibold text-xl !important;
  }

  .subtitle-bold {
    @apply font-semibold text-xl !important;
  }

  .body-text2 {
    @apply font-normal text-2xl !important;
  }

  .btn-text {
    @apply text-base;
  }

}
